<% content_for :title, "Editing guild" %>

<h1>Editing guild</h1>

<%= render "form", guild: @guild %>

<br>

<div>
  <%= link_to "Show this guild", @guild %> |
  <%= link_to "Back to guilds", guilds_path %>
</div>
