<div id="<%= dom_id kill_event %>">
  <p>
    <strong>Combat session:</strong>
    <%= kill_event.combat_session_id %>
  </p>

  <p>
    <strong>Killer:</strong>
    <%= kill_event.killer_id %>
  </p>

  <p>
    <strong>Victim:</strong>
    <%= kill_event.victim_id %>
  </p>

</div>
