<% content_for :title, "Editing kill event" %>

<h1>Editing kill event</h1>

<%= render "form", kill_event: @kill_event %>

<br>

<div>
  <%= link_to "Show this kill event", @kill_event %> |
  <%= link_to "Back to kill events", kill_events_path %>
</div>
