<p style="color: green"><%= notice %></p>

<% content_for :title, "Kill events" %>

<h1>Kill events</h1>

<div id="kill_events">
  <% @kill_events.each do |kill_event| %>
    <%= render kill_event %>
    <p>
      <%= link_to "Show this kill event", kill_event %>
    </p>
  <% end %>
</div>

<%= link_to "New kill event", new_kill_event_path %>
