<div id="<%= dom_id combat_session %>">
  <p>
    <strong>Started at:</strong>
    <%= combat_session.started_at %>
  </p>

  <p>
    <strong>Ended at:</strong>
    <%= combat_session.ended_at %>
  </p>

  <p>
    <strong>Executed on:</strong>
    <%= combat_session.executed_on %>
  </p>

</div>
