<% content_for :title, "New combat session" %>

<h1>New combat session</h1>

<%= render "form", combat_session: @combat_session %>

<br>

<div>
  <%= link_to "Back to combat sessions", combat_sessions_path %>
</div>
